body {
    background-color:#05abc8;
    text-align: center;
}

.joke-panel {
    background-color:#444b91;
    border-color: springgreen;
    border-radius: 10%;
    padding:10px;
    border-style: solid;
    text-align: center;
    color: white;
}


#main-content-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 25px auto;
}